*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
}

a {
  text-decoration: none;
  color: #000;
}
